{% extends "base.html" %}

{% block content %}
<div class="edit-profile-page">
    <h2>Edit Profile</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
        </div>
        <div class="form-group">
            {{ form.last_name.label_tag }}
            {{ form.last_name }}
        </div>
        <div class="form-group">
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <div class="form-group">
            {{ form.bio.label_tag }}
            {{ form.bio }}
        </div>
        <div class="form-group">
            {{ form.location.label_tag }}
            {{ form.location }}
        </div>
        <div class="form-group">
            {{ form.birth_date.label_tag }}
            {{ form.birth_date }}
        </div>
        <div class="form-group">
            {{ form.photo.label_tag }}
            {{ form.photo }}
        </div>
        <div class="form-actions">
            <button type="submit" class="btn-save">Save Changes</button>
        </div>
    </form>
</div>
{% endblock %}
